.banner1-wrapper {
  display: contents;
}
 
.banner1-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.banner1-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-title {
  text-align: center;
}
 
.banner1-text1 {
  text-align: center;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text2 {
  display: inline-block;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text1 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text3 {
  display: inline-block;
}
 
.banner1root-class-name {
  background-color: #c4b8b8;
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text1 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text2 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text3 {
  display: inline-block;
}
 
.home-layout3011 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-max-width1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-row1 {
  width: 100%;
}
 
.home-feature11 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content10 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title10 {
  align-self: stretch;
  align-items: center;
}
 
.home-title11 {
  text-align: center;
}
 
.home-description11 {
  text-align: center;
}
 
.home-action10 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-button10 {
  text-decoration: none;
}
 
.home-feature21 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content11 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title11 {
  align-self: stretch;
  align-items: center;
}
 
.home-title21 {
  text-align: center;
}
 
.home-description21 {
  text-align: center;
}
 
.home-action12 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-action21 {
  text-decoration: none;
}
 
.home-feature31 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content12 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title12 {
  align-self: stretch;
  align-items: center;
}
 
.home-title31 {
  text-align: center;
}
 
.home-description31 {
  text-align: center;
}
 
.home-action13 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-layout3012 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-max-width2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-row2 {
  width: 100%;
}
 
.home-feature12 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content13 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title13 {
  align-self: stretch;
  align-items: center;
}
 
.home-title12 {
  text-align: center;
}
 
.home-description12 {
  text-align: center;
}
 
.home-action14 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-feature22 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content14 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title14 {
  align-self: stretch;
  align-items: center;
}
 
.home-title22 {
  text-align: center;
}
 
.home-description22 {
  text-align: center;
}
 
.home-action16 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-feature32 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content15 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title15 {
  align-self: stretch;
  align-items: center;
}
 
.home-title32 {
  text-align: center;
}
 
.home-description32 {
  text-align: center;
}
 
.home-action17 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-layout3013 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-max-width3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-row3 {
  width: 100%;
}
 
.home-feature13 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content16 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title16 {
  align-self: stretch;
  align-items: center;
}
 
.home-title13 {
  text-align: center;
}
 
.home-description13 {
  text-align: center;
}
 
.home-action18 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-feature23 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content17 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title17 {
  align-self: stretch;
  align-items: center;
}
 
.home-title23 {
  text-align: center;
}
 
.home-description23 {
  text-align: center;
}
 
.home-action20 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-feature33 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content18 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title18 {
  align-self: stretch;
  align-items: center;
}
 
.home-title33 {
  text-align: center;
}
 
.home-description33 {
  text-align: center;
}
 
.home-action24 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-layout3014 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.home-max-width4 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-row4 {
  width: 100%;
}
 
.home-feature14 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content19 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title19 {
  align-self: stretch;
  align-items: center;
}
 
.home-title14 {
  text-align: center;
}
 
.home-description14 {
  text-align: center;
}
 
.home-action25 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-feature24 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content20 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title20 {
  align-self: stretch;
  align-items: center;
}
 
.home-title24 {
  text-align: center;
}
 
.home-description24 {
  text-align: center;
}
 
.home-action26 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.home-feature34 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-content21 {
  align-self: stretch;
  align-items: center;
}
 
.home-section-title21 {
  align-self: stretch;
  align-items: center;
}
 
.home-title34 {
  text-align: center;
}
 
.home-description34 {
  text-align: center;
}
 
.home-action28 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
@media(max-width: 991px) {
  .home-row1 {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .home-feature11 {
    width: 100%;
  }
  .home-feature21 {
    width: 100%;
  }
  .home-feature31 {
    width: 100%;
  }
  .home-row2 {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .home-feature12 {
    width: 100%;
  }
  .home-feature22 {
    width: 100%;
  }
  .home-feature32 {
    width: 100%;
  }
  .home-row3 {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .home-feature13 {
    width: 100%;
  }
  .home-feature23 {
    width: 100%;
  }
  .home-feature33 {
    width: 100%;
  }
  .home-row4 {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .home-feature14 {
    width: 100%;
  }
  .home-feature24 {
    width: 100%;
  }
  .home-feature34 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .home-max-width1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-max-width2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-max-width3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-max-width4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
